[alias]
        alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
        publish = push -u origin HEAD
        lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
        amend = commit --amend --no-edit
        remove-merged = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
        new-branch = "!f() { git checkout master && git pull && git checkout -b $1; }; f"
[rebase]
        instructionFormat = (%an <%ae>) %s
